@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
</div>
<ul >
    Paramètres
    <li>
        <strong>ConnectionString</strong> = @ViewBag.ConnectionString
    </li>
    <li>
        <strong>1ere personne</strong> = @ViewBag.Reader
    </li>
</ul>
