@{
    ViewData["Title"] = "Accueil";
}

<div>
    <h1 class="text-center">makrisoft</h1>
    <h4 class="text-center">expert Microsoft</h4>
    <ul>
        <li>
            <strong>Spécialiste en développement .Net</strong>
            <p>Plus de 30 ans d'expérience 
                <ul>
                    <li>
                        Asp .Net Core 8 MVC
                    </li>
                    <li>
                        WPF
                    </li>
                </ul>
            </p>
        </li>
        <li>
            <strong>Mais aussi SQL Server</strong>
        </li>
    </ul>
</div>
