@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="text-center">Site makrisoft</h1>
    <ul>
        <li>
            <strong>Test token</strong>
            <p>TokenGet donne un jeton pour pouvoir accéder à TokenUse. Sinon Not authorized !</p>
        </li>
    </ul>
</div>
