@page "/stock"
@inject CoreComline MonComline

<h1>Liste des stocks</h1>

<p>Prmière version</p>

@if (Stocks == null)
{
            <p><em>Loading...</em></p>
}
else
{
            <table class="table">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Quantité</th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var s in Stocks)
            {
                                <tr>
                                    <td>@s.Produit</td>
                                    <td>@s.Quantite</td>
                                </tr>
            }
                </tbody>
            </table>
}

@code {
    private List<LigneStock>? Stocks = new();
    protected override async Task OnInitializedAsync()
    {
        string comline = @"Get-Stock -Liste Produit -Select ""x.Id, Produit.Reference, x.Quantite"";";
        MonComline.Execute(new List<string?> { comline });
        if (MonComline.Results.Tables.Contains("Produit"))
            foreach (DataRow row in MonComline.Results.Tables["Produit"].Rows)
            {
                Stocks.Add(new LigneStock { Produit = row["Produit"].ToString(), Quantite = row["Quantite"].ToString() });
            }
    }

    private class LigneStock
    {
        public string Produit;
        public string Quantite;
    }
}
